main {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Proza Libre', sans-serif;
  font-size: calc(5vmin + 1rem);
}

ol {
  font-size: calc(2.5vmin + 1rem);
}